<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% load crispy_forms_tags %}
<title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="font-family: Advent Pro, sans-serif">
            <a class="navbar-brand" href="/">Reward.ly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/creditCards">Credit Cards</a>
                    <a class="nav-link" href="/retailers">Retailers</a>
                    {% if request.session.user_id %}
                    <a class="nav-link" href="/authenticate">Profile</a>
                    {% else %}
                    <a class="nav-link" href="registerPage">Register/Log In</a>
                    {% endif %}
                </div>
            </div>
    </nav>
{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script type= "text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>