<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<!-- <link rel="stylesheet" href="assets/css/style.css"> -->
<title>Random Word Generator</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="#">Dojo Survey Inc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home </a>
                <a class="nav-item nav-link" href="/dojo_survey_app">Dojo Survey</a>
                <a class="nav-item nav-link" href="/random_word">Word Generator<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/dojo_survey_app/about">About</a>
            </div>
        </div>
    </nav>

    <div class="row justify-content-center">
        <div class="col-4 text-center"><h4>Random Word</h4></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 text-center border rand-word">{{ request.session.word }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">Attempt #{{ request.session.counter }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <form action="/random_word/word_gen_page" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mb-1">Generate new word</button>
            </form>
        </div>
            <div class="col-2 text-center">
            <form action="/random_word/reset" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-light mb-1">Reset</button>
            </form>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>