{% extends 'formtest/base.html' %}
{% load static %}
{% block title %}Registration Page{% endblock %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            
            <form class="" action="/register" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" >Register</button>
                <!-- <input type="submit" name="" value="Submit the form!"> -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for error in post_form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
