.score{
    font-size: 1.4rem;
}

.subheading{
    font-size: 0.7rem;
    padding-bottom: 10px;
}

p{
    margin: 0;
}

p.earn{
    color: green
}


p.lose{
    color: red
}

#activities{
    min-height: 100px;
    max-height: 300px;
    background-color: slategrey;
    font-size: 0.8rem;
}

